node_modules/
package-lock.json
package.json
yarn.lock
.idea
src/consts/FirebaseConfig.js
/src/consts/FirebaseConfig.js
**/src/consts/FirebaseConfig.js
**/src/consts/FirebaseConfig
**/**/FirebaseConfig.js
**/FirebaseConfig.js